.form {
    font-family: 'Montserrat', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(113, 141, 170, 0.62);
}

.button {
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 12px;
    width: 150px;

    transition-duration: 0.4s;
    padding: 5px 20px;

    background-color: white;
    color: #34495e;
    border: 1px solid #34495e;
}
.button-active {
    cursor: pointer;
    background-color: #34495e;
    color: white;
}

.input {
    font-family: 'Montserrat', sans-serif;
    margin-left: 10px;
    color: #34495e;

    font-size: 12px;
    padding: 5px;
}

.dateInput {
    margin-left: 10px !important;
    width: 160px;
    height: 28px;
    padding: 5px;
    font-weight: normal;
    -webkit-border-radius: 0 !important;
    -webkit-box-shadow: unset !important;
    border: 1px solid #34495e;
}

.label {
    margin-left: 15px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: white;
    font-weight: bolder;
}

.grid {
    margin: auto;
    position: center;
}

